@use '@assets/styles/global' as *;
// POSTS
.posts {
	margin-top: 1rem !important;
	height: 89vh;
	overflow-y: scroll;
	position: relative;
	&::-webkit-scrollbar {
		display: none;
	}
}

.emptyPosts {
	color: $accent-color;
	font-size: 1.3rem;
	text-align: center;
}
.btnCreatePost {
	@include flexCenter();
	margin-bottom: 1.5rem;
}
// POST
.post {
	margin-bottom: 1.725rem;
	border: 1px solid $gray-color;
	padding: 0.5rem 1rem;
	box-shadow: 2px 3px 14px $gray-color;

	&__wrapper_img {
		margin-bottom: 1rem;
	}
}
.where {
	@include flexColumn();
	& p {
		margin-bottom: 0.5rem;
	}
	& > p span:first-of-type {
		margin-right: 2px;
	}
}
.travel_about {
	color: $text-color;
}

// MODAL
.create_post {
	background-color: $white-color;
}

.country_input,
.city_input {
	margin-bottom: 0.5rem;
}

.date_travel {
	margin-bottom: 0.5rem;
	&_wrapper {
		display: flex;
		justify-content: space-between;
		gap: 0.7rem;
	}
	&_block {
		@include flexBetween();
		gap: 1rem;
		padding: 1rem 0.5rem;
		border-radius: $border-radius-blocks;
		margin-bottom: 0.5rem;

		background-color: #e6e6e6;
		color: #b6b6b6;
	}
}
.date_travel_text {
	margin-bottom: 0.6rem;
	font-size: 1rem;
}
.date_travel_input {
	color: $black-color;
}
.createPostBtn {
	width: 100%;
}
.textInfo {
	border: 1px solid $black-color;
	border-radius: $border-radius-elements;
	width: 100%;
	height: 5rem;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
}
