@use '@assets/styles/global' as *;
// POSTS
.posts {
	margin-top: 1.5rem !important;
	height: 89vh;
	overflow-y: scroll;
	position: relative;
	&::-webkit-scrollbar {
		display: none;
	}
}

.emptyPosts {
	color: $accent-color;
	font-size: 1.3rem;
	text-align: center;
}
.btnCreatePost {
	@include flexCenter();
	margin-bottom: 1.5rem;
}
// POST
.post {
	margin-bottom: 1.725rem;
	&__wrapper_img {
		margin-bottom: 1rem;
	}
}
.where {
	@include flexColumn();
	& p {
		margin-bottom: 0.5rem;
	}
	& > p span:first-of-type {
		margin-right: 2px;
	}
}
.travel_about {
	color: $text-color;
}

// MODAL
.create_post {
	background-color: $white-color;
}

.country_input,
.city_input {
	margin-bottom: 0.5rem;
}

.date_travel {
	margin-bottom: 1rem;
	&_wrapper {
		display: flex;
		justify-content: space-between;
		gap: 0.7rem;

		.date_travel_block {
			@include flexBetween();
			gap: 1rem;
			padding: 1rem 0.5rem;
			border-radius: $border-radius-blocks;

			background-color: #e6e6e6;
			color: #b6b6b6;
		}
	}
}
.date_travel_text {
	margin-bottom: 0.6rem;
	font-size: 1rem;
}
.date_travel_input {
	color: $black-color;
}
.createPostBtn {
	width: 100%;
}
