@use '@assets/styles/global' as *;

.profile {
	margin-top: 1.5rem !important;
}

.saveData {
	margin-top: 1.725rem;
	width: 100%;
}
.profile__form {
	margin-bottom: 1.5rem;
}
.logout {
	width: 100%;
	border: 1px solid $red-color;
	background-color: $bg-color !important;
	color: $red-color !important;
}
.logout:hover {
	background-color: $red-color !important;
	color: $white-color !important;
}
.logout:focus {
	background-color: $red-color !important;
	color: $white-color !important;
}
