@use '@assets/styles/global' as *;

.showInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24rem;
	height: 17rem;
	padding: 0.5rem 1rem;
	z-index: 9999999;
	background-color: $white-color;
	&_p {
		@include flexColumn();
		gap: 0.3rem;
	}
}
.canvasContainer {
	width: 400px;
	height: 400px;
	margin-top: 20px;
}
