@use '@assets/styles/global' as *;

.bottomSheet {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: $white-color;
	display: flex;
	justify-content: center;
	align-items: center;

	&__wrapper {
		padding: 10px;
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			li {
				@include flexColumn;
				@include flexCenter;

				@include transition(opacity, 0.3s, ease-in);
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
.bottomSheet__link {
	@include flexColumn;
	@include flexCenter;
}
