@use '../fonts/fonts.scss' as *;

// COLORS
$white-color: #fff;
$black-color: #232323;
$gray-color: #e9e7eb;
$text-color: #000;
$accent-color: #929292;
$bg-color: #fff;
$red-color: #c71717;
// HOVER
$hover-blue-color: #63a6f0;

// RADIUS
$border-radius-blocks: 15px;
$border-radius-elements: 7px;

// FONTS
$font-family-Manrope: 'Manrope', sans-serif;

// FONT SIZES
$font-size-text: clamp(1rem, 1vw + 0.5rem, 1.2rem);
$font-size-title: clamp(1.7rem, 3.5vw, 2.5rem);

// MIXINS
@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flexBetween() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flexColumn() {
	display: flex;
	flex-direction: column;
}

@mixin transition($el, $time, $type) {
	transition: $el $time $type;
}

/* Тёмная тема */
[data-theme='dark'] {
	$bg-color: #121212;
	$text-color: #f1f1f1;
	$accent-color: #bababa;
}
body {
	background-color: $bg-color;
	font-family: $font-family-Manrope;
}
html {
	font-size: 16px;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}
.container-wrapper {
	display: flex;
	flex-direction: column;
}
.section-title {
	font-size: $font-size-title;
	font-weight: 700;
	margin-bottom: 15px;
	color: $text-color;
}
.label {
	display: block;
	margin-bottom: 0.5rem;
	color: $text-color;
	font-weight: 500;
	font-size: 0.9rem;
}
.input {
	display: block;
	color: $text-color;
	margin-bottom: 0.5rem;
	width: 100%;
}
.btn {
	cursor: pointer;
}
button.fill {
	color: $white-color;
	background-color: $black-color;
	padding: 10px 15px;
	border-radius: $border-radius-elements;
	transition: opacity 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.fill:hover {
	opacity: 0.9;
}

button.fill.active {
	opacity: 0.9;
}

// button.outlined {
// }

// button.outlined.active {
// }

.outlined {
	padding: 5px 5px;
	border-radius: $border-radius-elements;
	border: 1px solid $accent-color;
}

input.outlined:focus {
	border: 1px solid $hover-blue-color;
}

.error {
	color: rgb(176, 2, 2);
	margin-bottom: 5px;
}
